*.csv filter=lfs diff=lfs merge=lfs -text
verification/results/even_deep_checks.csv filter=lfs diff=lfs merge=lfs -text
verification/results/even_results.csv filter=lfs diff=lfs merge=lfs -text
verification/results/unconstrained_results.csv filter=lfs diff=lfs merge=lfs -text
verification/results/odd_results.csv filter=lfs diff=lfs merge=lfs -text
